@media (max-width: 760px) {
  /*== HEADER ==*/
  .menu-nav {
    justify-content: center;
  }
  /*== INTRO ==*/
  .intro {
    flex-direction: column;
  }
  .intro-info {
    max-width: 450px;
  }
  .intro-info h1 {
    text-align: center;
  }
  .intro-info p {
    text-align: center;
    margin-bottom: 35px;
  }
  .intro-info button {
    display: flex;
    margin: 0 auto;
  }
  .intro img {
    width: 500px;
  }
  /*== PARTNERS ==*/
  .partners-container {
    display: flex;
    overflow-x: auto;
    padding: 0;
    display: block;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    position: relative;
  }
  .partners-container::after {
    content: '🡒';
    position: absolute;
    top: 5px;
    right: 30px;
    color: var(--primary-color);
    font-weight: 700;
    animation: seta .5s ease-in 0s infinite alternate;
  }
  @keyframes seta {
    from {
      right: 30px;
    }
    to {
      right: 20px;
    }
  }
  .partners-info {
    display: flex;
  }


  .services-container {
    flex-direction: column;
    width: 100%;
  }
  .services-text-container {
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 50px;
    order: -1;
  }
  /*== ABOUT US ==*/
  .goal-bg {
    height: 350px;
  }
  .about-container {
    flex-direction: column;
  }
  .about-container img {
    width: 300px;
  }
  .about-text-info {
    text-align: center;
    padding-bottom: 50px;
  }
  /*== GOAL ==*/
  .goal-container {
    max-width: 350px;
  }
  .goal-container h2 { 
    font-size: 30px;
  }
  /* == TEAM == */
  .team-container {
    padding-top: 80px;
    justify-content: center;
  }
  .team-text-container {
    text-align: center;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
  }
  /*== STATISTIC ==*/
  .statistic-container {
    padding: 0;
    margin-bottom: 50px;
  }
  .statistic-box {
    justify-content: center;
    margin-right: 0;
    margin-bottom: 0;
    flex-wrap: wrap;
    padding: 30px;
  }
  .statistic-box h3 {
    font-size: 25px;
  }
  .statistic-box p {
    font-size: 16px;
  }
  .statistic-box img {
    width: 70px;
  }
  /*== PROJECTS ==*/
  .projects-text-info {
    text-align: center;
    margin: 0 auto;
  }
  .projects-text-info p {
    max-width: none;
  }
  .projects-photo-info img {
    margin: 0 auto;
    padding-bottom: 30px;
  }
  /*== CLIENTS ==*/
  .client-photo {
    padding: 40px 0;
  }
  .clients-text-info {
    text-align: center;
  }
  .clients-text-info p {
    max-width: none;
  }
  .client-photo {
    justify-content: center;
  }
  .client-photo-info {
    text-align: center;
    max-width: none;
  }
  .client-photo-info-text {
    padding: 0px;
  }
  .client-photo-info-text img {
    width: 200px;
  }





  /*== PROJECTS ==*/
  .projects-photo-info {
    flex-wrap: wrap;
  }
}