/* Estilos gerais */
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Roboto', sans-serif;

}

a {
 text-decoration: none;
 font-family: 'Roboto', sans-serif;
 color: #000;
}

:root {
  --primary-color: #18B6CF;
}

/* Header */
.menu {
  max-width: 1250px;
  margin: 0 auto;
  padding: 30px;
}

.menu img {
  width: 160px;
}

.menu-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.menu-nav a {
  font-size: 17px;
  font-weight: 500;
  transition: 200ms;
}

.menu-nav ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.header_menu li {
  margin: 15px;
}

.header_menu li a:hover{
  color: var(--primary-color);
}

.header_started {
  padding: 12px 30px;
  border-radius: 30px;
  background-color: #18B6CF;
  -webkit-box-shadow: -1px -4px 31px -3px rgba(0,0,0,0.12);
  -moz-box-shadow: -1px -4px 31px -3px rgba(0,0,0,0.12);
  box-shadow: -1px -4px 31px -3px rgba(0,0,0,0.12);
  transition: ease-in-out 200ms;
}

.header_started a {
  color: #FFF;
}

.header_started:hover {
  background-color: #195e83;
}

/* Intro */
.intro {
  max-width: 1250px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 30px;
  justify-content: space-between;

}

.intro-info h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

.intro-info p {
  color: #707070;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 45px;
  line-height: 1.6em;
}

.intro-info button{
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  padding: 15px 35px;
  color: #fff;
  border-radius: 10px;
  font-size: 18px;
  transition: 250ms ease;
  font-weight: 500;
}

.intro-info button:hover {
  background: transparent;
  color: var(--primary-color);
  font-weight: 500;
  border: 2px solid var(--primary-color);
}

.intro img {
  width: 670px;
  padding: 30px;
}

/* Partners */
.partners-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}

.partners-container img {
  width: 160px;
  margin: 30px 30px;
}
/* Services */
.services-container {
  display: flex;
  max-width: 1250px;
  margin: 0 auto;
  justify-content: space-between;
}
.services-bullet1 {
  display: flex;
}
.services-bullet2 {
  display: flex;
}

.services-bullet-info img {
  width: 75px;
  margin-bottom: 15px;
}

.services-bullet-info2 img {
  width: 75px;
  margin-bottom: 15px;
}

.services-bullet-info {
  margin: 30px;
  padding: 30px;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: -1px -4px 31px -3px rgba(0,0,0,0.12);
  -moz-box-shadow: -1px -4px 31px -3px rgba(0,0,0,0.12);
  box-shadow: -1px -4px 31px -3px rgba(0,0,0,0.12);
}
 
.services-bullet-info h3 {
  font-size: 22px;
  margin-bottom: 20px;
}

.services-bullet-info p {
  color: #707070;
  font-size: 18px;
}

.services-bullet-info2 {
  position: relative;
  top: -40px;
  margin: 30px;
  padding: 30px;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: -1px -4px 31px -3px rgba(0,0,0,0.12);
  -moz-box-shadow: -1px -4px 31px -3px rgba(0,0,0,0.12);
  box-shadow: -1px -4px 31px -3px rgba(0,0,0,0.12);
}

.services-bullet-info2 h3 {
  font-size: 22px;
  margin-bottom: 20px;
}

.services-bullet-info2 p {
  color: #707070;
  font-size: 18px;
}

.services-text-container {
  display: flex;
  align-items: center;
  max-width: 550px;
}

.services-text-info {
  padding: 30px;
}

.services-bullet-info-up {
  align-items: flex-start;
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: -1px -4px 31px -3px rgba(0,0,0,0.12);
  -moz-box-shadow: -1px -4px 31px -3px rgba(0,0,0,0.12);
  box-shadow: -1px -4px 31px -3px rgba(0,0,0,0.12);
}

.services-text-info h3 {
  color: var(--primary-color);
  margin-bottom: 16px;
}

.services-text-info h2 {
  font-size: 35px;
  margin-bottom: 20px;
}

.services-text-info p {
  color: #707070;
  font-size: 18px;
  line-height: 1.6em;
  margin-bottom: 30px;
  max-width: 800px;
}

.services-text-info button{
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  padding: 15px 35px;
  color: #fff;
  border-radius: 10px;
  font-size: 18px;
  transition: 250ms ease;
  font-weight: 500;
}

.services-text-info button:hover {
  background: transparent;
  color: var(--primary-color);
  font-weight: 500;
  border: 2px solid var(--primary-color);
}
/* About Us */
.about-container {
  display: flex;
  max-width: 1250px;
  margin: 80px auto;
  padding: 0 30px;
  align-items: center;
  justify-content: space-between;
}

.about-container img { 
  width: 600px;
}

.about-text-info h3 {
  color: var(--primary-color);
  margin-bottom: 16px;
}

.about-text-info h2 {
  font-size: 35px;
  margin-bottom: 20px;
}

.about-text-info p {
  color: #707070;
  font-size: 18px;
  line-height: 1.6em;
  margin-bottom: 30px;
  max-width: 550px;
}

.about-text-info button{
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  padding: 15px 35px;
  color: #fff;
  border-radius: 10px;
  font-size: 18px;
  transition: 250ms ease;
  font-weight: 500;
}

.about-text-info button:hover {
  background: transparent;
  color: var(--primary-color);
  font-weight: 500;
  border: 2px solid var(--primary-color);
}
/* Goals */
.goal-bg {
  background-image: url(/images/goal-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.goal-container {
  text-align: center;
}

.goal-container h3 {
  color: var(--primary-color);
  margin-bottom: 16px;
  font-size: 25px;
}

.goal-container h2 {
  font-size: 40px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 25px;
}

.goal-container button{
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  padding: 15px 35px;
  color: #fff;
  border-radius: 10px;
  font-size: 18px;
  transition: 250ms ease;
  font-weight: 500;
}

.goal-container button:hover {
  background: transparent;
  color: #fff;
  font-weight: 500;
  border: 2px solid #fff;
}
/* Our Team */
.team-container {
  display: flex;
  max-width: 1250px;
  margin: 0px auto;
  padding-top: 140px;
  justify-content: space-between;
  flex-wrap: wrap;

}
.team-bullet1 {
  display: flex;
}
.team-bullet2 {
  display: flex;
}

.team-bullet-info img {
  width: 150px;
  margin-bottom: 10px;
}

.team-bullet-info2 img {
  width: 150px;
  margin-bottom: 10px;
}

.team-bullet-info {
  margin: 30px;
  padding: 30px;
  text-align: center;
  background-color: #fff;
  border-radius: 20px;
  -webkit-box-shadow: -1px -4px 31px -3px rgba(0,0,0,0.12);
  -moz-box-shadow: -1px -4px 31px -3px rgba(0,0,0,0.12);
  box-shadow: -1px -4px 31px -3px rgba(0,0,0,0.12);
}
 
.team-bullet-info h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

.team-bullet-info p {
  color: #707070;
  font-size: 18px;
}

.team-bullet-info2 {
  position: relative;
  top: -40px;
  margin: 30px;
  padding: 30px;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: -1px -4px 31px -3px rgba(0,0,0,0.12);
  -moz-box-shadow: -1px -4px 31px -3px rgba(0,0,0,0.12);
  box-shadow: -1px -4px 31px -3px rgba(0,0,0,0.12);
}

.team-bullet-info2 h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

.team-bullet-info2 p {
  color: #707070;
  font-size: 18px;
}

.team-text-container {
  display: flex;
  align-items: center;
  max-width: 550px;
}

.team-text-info {
  padding: 30px;
}

.team-bullet-info-up {
  align-items: flex-start;
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: -1px -4px 31px -3px rgba(0,0,0,0.12);
  -moz-box-shadow: -1px -4px 31px -3px rgba(0,0,0,0.12);
  box-shadow: -1px -4px 31px -3px rgba(0,0,0,0.12);
}

.team-text-info h3 {
  color: var(--primary-color);
  margin-bottom: 16px;
}

.team-text-info h2 {
  font-size: 35px;
  margin-bottom: 20px;
}

.team-text-info p {
  color: #707070;
  font-size: 18px;
  line-height: 1.6em;
  margin-bottom: 30px;
  max-width: 800px;
}

.team-text-info button{
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  padding: 15px 35px;
  color: #fff;
  border-radius: 10px;
  font-size: 18px;
  transition: 250ms ease;
  font-weight: 500;
}

.team-text-info button:hover {
  background: transparent;
  color: var(--primary-color);
  font-weight: 500;
  border: 2px solid var(--primary-color);
}
/* Our Statistic */
.statistic {
  display: flex;
}
.statistic-container {
  display: flex;
  max-width: 1250px;
  margin: 0 auto;
  align-items: center;
  padding: 50px 0;
  justify-content: space-around;
  flex-wrap: wrap;
}

.statistic-box {
  margin-right: 95px;
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}

.statistic-box img {
  width: 80px;
}

.hover-active1 {
  background: #fff;
  /* padding: 30px; */
  -webkit-box-shadow: -1px -4px 31px -3px rgba(0,0,0,0.12);
  -moz-box-shadow: -1px -4px 31px -3px rgba(0,0,0,0.12);
  box-shadow: -1px -4px 31px -3px rgba(0,0,0,0.12);
  border-top-left-radius: 80px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 80px;
  border-bottom-left-radius: 10px;
}

.statistic-box-info h3 {
  color: var(--primary-color);
  font-size: 35px;
}

.statistic-box-info p {
  font-size: 18px;
  font-weight: 700;
}
/* Projects */
.projects-container {
  max-width: 1250px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

.projects-text-info {
  margin-bottom: 60px;
}

.projects-text-info h3 {
  color: var(--primary-color);
  margin-bottom: 16px;
}

.projects-text-info h2 {
  font-size: 35px;
  margin-bottom: 20px;
}

.projects-text-info p {
  color: #707070;
  font-size: 18px;
  line-height: 1.6em;
  margin-bottom: 30px;
  max-width: 550px;
}

.projects-photo-info {
  display: flex;
  justify-content: space-between;
}

.projects-photo-info img {
  width: 380px;
  margin: 0 10 px;
}
/* Clients Feedback */
.clients-container {
  max-width: 1250px;
  margin: 100px auto;
  align-items: center;
  justify-content: space-between;
}

.clients-text-info h2 {
  font-size: 35px;
  margin-bottom: 20px;
}

.clients-text-info p {
  color: #707070;
  font-size: 18px;
  line-height: 1.6em;
  margin-bottom: 30px;
  max-width: 550px;
}

.client-photo {
  display: flex;
  background-color: #EFEFFE;
  flex-wrap: wrap;
}

.client-photo img {
  width: 360px;
  border-radius: 10px;
  margin-top: 30px
}
.client-photo-info {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.client-photo-info img {
  width: 230px;
}

.client-photo-info h3 {
  margin-bottom: 20px;
  line-height: 1.6em;
  max-width: 480px;
  margin-bottom: 10px;
}

.client-photo-info p {
  color: #707070;
  font-size: 18px;
  margin-bottom: 5px;
  color: #222D39;
  font-weight: 500;
}

.client-photo-info-text {
  padding-left: 150px;
  max-width: 610px;
}

.client-photo-info-text span {
  font-size: 12px;
}
/* Footer */
footer {
  background-color: #EBEBF8;
  height: 430px;
}

.footer-container-bg {
  max-width: 1250px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.footer-container h3 {
  font-size: 17px;
}

.footer-container li {
  margin-bottom: 15px;
}

.footer-container h3 {
  margin-bottom: 36px;
}

.footer-container li a {
  color: #8A8A8A;
  font-size: 18px;
  font-weight: 600;
}

.footer-container img {
  width: 140px;
}

.footer-container .social-icon img {
  width: 30px;
}

.social-icon img {
  margin-left: 10px;
  margin-top: 20px;
}
/* Creditos */
.creditos {
  display: flex;
  align-items: center;
  justify-content: center;
}
.creditos p {
  margin-right: 10px;
  font-size: 13px;
}

.creditos img {
  width: 100px;
}

